/* src/app/globals.css */
@import "tailwindcss";

@theme inline {
  /* Ghi đè font sans mặc định bằng font Inter đã cấu hình */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #0a0a0a; /* Màu nền tối chuẩn phim ảnh */
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Xóa font-family: Arial cũ tại đây */
  font-family: var(--font-sans); 
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}